*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px rgb(100, 99, 99);
}

.item1{
    border-radius: 10px;
    background-color: blue;
    width: 300px;
    height: 400px;
}

.item2 {
    border-radius: 0 10px 10px 0;
    background-color: white;
    width: 300px;
    height: 400px;
}

.center{
    margin: 0 auto;
}